html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}

/*  TYPOGRAPHY
--------------------------------------------*/

.accordion{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    .accordion-header{
        background: #D8D8D8;
        padding: 0.6em 1em;
        font-weight: bold;
        font-size: 20px;
        margin-top: 0.8em;
        &.active{
            background: #E65E15;
            color: #fff;
        }
    }
    .accordion-content{
        display: none;
        padding: 1em;
        background: #fff;
        border: 5px solid #E65E15;
        border-top-width: 0;
        p{
            font-size: 20px;
        }
    }
}

