/* line 1, ../sass/styles.scss */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* line 6, ../sass/styles.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -moz-appearance: none;
}

/* line 11, ../sass/styles.scss */
select::-ms-expand {
  display: none;
}

/*  TYPOGRAPHY
--------------------------------------------*/
/* line 18, ../sass/styles.scss */
.accordion {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* line 20, ../sass/styles.scss */
.accordion .accordion-header {
  background: #D8D8D8;
  padding: 0.6em 1em;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0.8em;
}
/* line 26, ../sass/styles.scss */
.accordion .accordion-header.active {
  background: #E65E15;
  color: #fff;
}
/* line 31, ../sass/styles.scss */
.accordion .accordion-content {
  display: none;
  padding: 1em;
  background: #fff;
  border: 5px solid #E65E15;
  border-top-width: 0;
}
/* line 37, ../sass/styles.scss */
.accordion .accordion-content p {
  font-size: 20px;
}
